#attention_matrix {

}

#attention_matrix div.sentence {
  text-align:center;
}

#attention_matrix div.sentence span {
  margin: 10px;
  font-weight: bold;
  font-family: monospace;
}

#attention_matrix div.sentence span:hover {
  border-bottom:1px solid #fff;
  cursor:pointer;
}
